*{
    margin: 0;
    padding: 0;
}

#img-logo{
    width: 200px;
}

.card-max {
  max-width: 20rem;
  max-height: 30rem;
}

.card-max:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}